ad {display:block; margin-top:15px; color:blue; font-size:13pt;}
usn {color:red; font-size:12pt; margin-left:15px;}
name {color:red; font-size:12pt; margin-left:15px;}
college {color:red; font-size:12pt; margin-left:15px;}
branch {color:red; font-size:12pt; margin-left:15px;}
year {color:red; font-size:12pt; margin-left:15px;}
email {color:red; font-size:12pt; margin-left:15px;}
h3 {margin-center:15px; color:red; font size:18py;}
h2 {display:block; color:black; font-size:18pt;} 